build/*
.vscode/*
.cache/

.DS_Store

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.log
*.tmp
